################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassesGit/.vs/ClassesGit/v16
/ClassesGit/ClassesGit/bin/Debug/netcoreapp2.1
/ClassesGit/ClassesGit/obj/Debug/netcoreapp2.1
/ClassesGit/ClassesGit/obj
